/* basic setup ---------------------------*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  background-color: #46424D;
  color: #FFF;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

h2 {
  color: #CBC9CF;
}

.hidden {
  display: none;
}

/* main ------------------------------- */
main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-activity,
.past-activity,
.timer {
  background-color: #2B2733;
  padding: 20px;
}

/* new activities --------------------------- */
.new-activity {
  width: 60%;
  height: 100vh;
}

.activity-container {
  margin-top: 20px;
  background-color: #46424D;
  width: 100%;
  padding: 20px 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 75vh;
}

h3 {
  margin-top: 30px;
}

/* select a category */
.select-category {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.category {
  width: 30%;
  border: 2px solid #FFF;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.category-img,
.category-img-active {
  width: 30px;
}

.active {
  display: none;
}

/* form */
form {
  margin-top: 50px;
}

input {
  padding: 10px;
  background: #46424D;
  border-bottom: 2px solid #FFF;
  color: white;
  font-size: 1rem;
  text-align: center;
}

input,
label {
  display: block;
}

.input-accomplish {
  width: 100%;
}

.min-sec-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.min-sec-item {
  width: 45%;
}

.input-min,
.input-sec {
  width: 100%;
}

.btn {
  background-color: white;
  margin: 50px 0;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: #2B2733;
  cursor: pointer;
}

.start {
  float: right;
}

/* form interactivity */
.warning-message {
  color: #EFB7EC;
  position: absolute;
  margin-top: 10px;
  display: none;
}

.warning-img {
  width: 16px;
}

/* timer ------------------------------------------------ */
.timer {
  width: 60%;
  height: 100vh;
}

.timer-wrapper {
  margin-top: 20px;
  background-color: #46424D;
  width: 100%;
  padding: 20px 100px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 75vh;
}

.input-accomplish-label {
  text-align: center;
  margin-top: 35px;
}

.countdown-timer {
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.start-timer-wrapper {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  margin: auto;
  border-radius: 50%;
  margin-top: 20px;
}

.start-timer {
  padding-top: 45%;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}

.log {
  margin: auto;
  margin-top: 30px;
  float: none;
  text-align: center;
}

.timer-holder {
  /* display: none; */
}

.create-new {
  float: none;
  margin: auto;
  margin-top: 30px;
  width: 330px;
  text-align: center;
}

/* past activities * ------------------------------------ */
.past-activity {
  width: 39.5%;
  min-height: 100vh;
  height: auto;
}

.past-activity-message {
  width: 80%;
  margin: auto;
  padding: 30px 0px;
  text-align: center;
}

/* past activity log */
.past-activity-log {
  background-color: #46424D;
  padding: 15px;
  height: auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.past-activity-color {
  width: 5px;
  height: 30px;
  background-color: #fff;
  float: right;
  border-radius: 5px;
}

h4 {
  font-weight: 400;
}

.past-activity-duration {
  text-transform: uppercase;
}

.past-activity-accomplishment {
  margin-top: 8px;
  font-size: 0.9rem;
}

/* container for past activities log, message dissapear when activity is logged */
.log-container {
  height: auto;
  width: 100%;
  margin-top: 20px;
}
